body {
    font-family: serif;
}
.header{
    color:aliceblue;
    background-color:#666;
    height:fit-content;
}
.main {
    background-color:antiquewhite;
    height:600px;
}
.footer {
    background-color: saddlebrown;
    height:fit-content;
}
#displayWord{
    font-size: large;
    padding:0.4em;
    margin:0.4em
}
#symbolPronun{
    color:#666;
    font-size: small;
    padding:0.4em;
    margin:0.4em
}